<div class="bg-container">

  <div class="container main-card h-full d-flex flex-column align-items-stretch card-content justify-content-start">


      <div class="d-flex justify-content-end w-full mt-20 mb-20">
      <p class="btn-primary-cards mx-10"><%= link_to "Add Dishes", new_user_restaurant_menu_dish_path(@user, @restaurant, @menu) %></p>
      <p class="btn-secondary-cards mx-10"><%= link_to "View Menu", menu_path(@menu) %></p>
      </div>

      <div class="w-full my-0" style="text-align:left">
        <h1 class ="my-0"><%= @menu.menu_name %></h1>
        <div class="edit-box">
          <div>
            <p class="pb-20"><strong> <%= @menu.restaurant.name %>: <%= @menu.restaurant.cuisine %></strong></p>
            <%= form_for @menu, url: user_restaurant_menu_path(@menu), method: :patch do |f| %>
              <div class="field">
                <%= f.label :name %>
                <%= f.text_field :menu_name %>
                <%= f.submit "Update", style: "font-size: 12px" %>
              </div>
            <% end %>
          </div>
          <a href=<%="/menus/#{@menu.id}/qr_code"%> >
          <%= @svg.html_safe %>
          </a>
        </div>
      </div>

        <div class="d-flex align-items-center justify-content-between"><h3 class="mt-20">Dishes on <%= @menu.menu_name %></h3>
        <p class="column-container">Jump to: <a href="#starters">Starters</a> | <a href="#breakfast">Breakfast</a> | <a href="#lunch">Lunch</a> | <a href="#dinner">Main Courses</a> | <a href="#sides">Sides</a> | <a href="#dessert">Dessert</a>
        </div>
      <div class="column-container d-flex flex-column">
        <h4 class="mb-0" id="starters">Starters</h4>
            <div class="dish-full">
              <div class="menu-text">
                <% @starters.each do |starter| %>
                  <% if starter.menu_id == @menu.id %>
                    <div class="d-flex align-items-center mt-20">
                      <p class="w-full d-flex align-items-center justify-content-start"><strong><%= starter.name %></strong>
                        <% if starter.dietary_type.include?("Vegan") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class= "diet-icon-column" >
                        <% end %>
                        <% if starter.dietary_type.include?("Vegetarian") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if starter.dietary_type.include?("Gluten-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if starter.dietary_type.include?("Lactose-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon-column" >
                        <% end %></p>

                      <p><strong>$<%= starter.price %></strong></p></div>
                      <p><%= starter.description%></p>

                <%= link_to " Edit Dish", edit_user_restaurant_menu_dish_path(@user, @restaurant, @menu, starter) %>
                <%= link_to " |  Delete Dish", dish_path(starter), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

                <% end %>
                <% end %>
                </div>
                </div>
                </div>

                <div class="column-container d-flex flex-column mt-20">
        <h4 class="mb-0 mt-20" id="breakfast">Breakfast</h4>
            <div class="dish-full">
              <div class="menu-text">
                <% @breakfasts.each do |breakfast| %>
                  <% if breakfast.menu_id == @menu.id %>
                    <div class="d-flex align-items-center mt-20">
                      <p class="w-full d-flex align-items-center justify-content-start"><strong><%= breakfast.name %></strong>
                        <% if breakfast.dietary_type.include?("Vegan") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class= "diet-icon-column" >
                        <% end %>
                        <% if breakfast.dietary_type.include?("Vegetarian") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if breakfast.dietary_type.include?("Gluten-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if breakfast.dietary_type.include?("Lactose-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon-column" >
                        <% end %></p>

                      <p><strong>$<%= breakfast.price %></strong></p></div>
                      <p><%= breakfast.description%></p>

                <%= link_to " Edit Dish", edit_user_restaurant_menu_dish_path(@user, @restaurant, @menu, breakfast) %>
                <%= link_to " |  Delete Dish", dish_path(breakfast), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

                <% end %>
                <% end %>
              </div>
              </div>
              </div>

               <div class="column-container d-flex flex-column mt-20">
                <h4 class="mb-0 mt-20" id="lunch">Lunch</h4>
                  <div class="dish-full">
                    <div class="menu-text">
                      <% @lunches.each do |lunch| %>
                      <% if lunch.menu_id == @menu.id %>
                        <div class="d-flex align-items-center mt-20">
                          <p class="w-full d-flex align-items-center justify-content-start"><strong><%= lunch.name %></strong>
                            <% if lunch.dietary_type.include?("Vegan") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class= "diet-icon-column" >
                            <% end %>
                            <% if lunch.dietary_type.include?("Vegetarian") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon-column" >
                            <% end %>
                            <% if lunch.dietary_type.include?("Gluten-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon-column" >
                            <% end %>
                            <% if lunch.dietary_type.include?("Lactose-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon-column" >
                            <% end %></p>

                              <p><strong>$<%= lunch.price %></strong></p></div>
                              <p><%= lunch.description%></p>

                <%= link_to " Edit Dish", edit_user_restaurant_menu_dish_path(@user, @restaurant, @menu, lunch) %>
                <%= link_to " |  Delete Dish", dish_path(lunch), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

                <% end %>
                <% end %>
              </div>
              </div>
              </div>

   <div class="column-container d-flex flex-column mt-20">
        <h4 class="mb-0 mt-20" id="dinner">Main Courses</h4>
            <div class="dish-full">
              <div class="menu-text">
                <% @dinners.each do |dinner| %>
                  <% if dinner.menu_id == @menu.id %>
                    <div class="d-flex align-items-center mt-20">
                      <p class="w-full d-flex align-items-center justify-content-start"><strong><%= dinner.name %></strong>
                        <% if dinner.dietary_type.include?("Vegan") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class= "diet-icon-column" >
                        <% end %>
                        <% if dinner.dietary_type.include?("Vegetarian") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if dinner.dietary_type.include?("Gluten-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if dinner.dietary_type.include?("Lactose-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon-column" >
                        <% end %></p>

                      <p><strong>$<%= dinner.price %></strong></p></div>
                      <p><%= dinner.description%></p>

                <%= link_to " Edit Dish", edit_user_restaurant_menu_dish_path(@user, @restaurant, @menu, dinner) %>
                <%= link_to " |  Delete Dish", dish_path(dinner), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

                <% end %>
                <% end %>
              </div>
              </div>
              </div>

   <div class="column-container d-flex flex-column mt-20">
        <h4 class="mb-0 mt-20" id="sides">Sides</h4>
            <div class="dish-full">
              <div class="menu-text">
                <% @sides.each do |side| %>
                  <% if side.menu_id == @menu.id %>
                    <div class="d-flex align-items-center mt-20">
                      <p class="w-full d-flex align-items-center justify-content-start"><strong><%= side.name %></strong>
                        <% if side.dietary_type.include?("Vegan") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class= "diet-icon-column" >
                        <% end %>
                        <% if side.dietary_type.include?("Vegetarian") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if side.dietary_type.include?("Gluten-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if side.dietary_type.include?("Lactose-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon-column" >
                        <% end %></p>

                      <p><strong>$<%= side.price %></strong></p></div>
                      <p><%= side.description%></p>

                <%= link_to " Edit Dish", edit_user_restaurant_menu_dish_path(@user, @restaurant, @menu, side) %>
                <%= link_to " |  Delete Dish", dish_path(side), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

                <% end %>
                <% end %>
              </div>
              </div>
              </div>

   <div class="column-container d-flex flex-column mt-20">
        <h4 class="mb-0 mt-20" id="dessert">Desserts</h4>
            <div class="dish-full">
              <div class="menu-text">
                <% @desserts.each do |dessert| %>
                  <% if dessert.menu_id == @menu.id %>
                    <div class="d-flex align-items-center mt-20">
                      <p class="w-full d-flex align-items-center justify-content-start"><strong><%= dessert.name %></strong>
                        <% if dessert.dietary_type.include?("Vegan") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class= "diet-icon-column" >
                        <% end %>
                        <% if dessert.dietary_type.include?("Vegetarian") %>
                          <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if dessert.dietary_type.include?("Gluten-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon-column" >
                        <% end %>
                        <% if dessert.dietary_type.include?("Lactose-free") %>
                            <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon-column" >
                        <% end %></p>

                      <p><strong>$<%= dessert.price %></strong></p></div>
                      <p><%= dessert.description%></p>

                <%= link_to " Edit Dish", edit_user_restaurant_menu_dish_path(@user, @restaurant, @menu, dessert) %>
                <%= link_to " |  Delete Dish", dish_path(dessert), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

                <% end %>
                <% end %>
              </div>
              </div>
              </div>
</div>












        </div>
      </div>
