<div class="container">

<h1><%= @menu.menu_name %></h1>

<h3>Edit Menu</h3>
<%= form_for @menu, url: user_restaurant_menu_path(@menu), method: :patch do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :menu_name %>
  </div>
  <div class="actions">
    <%= f.submit "update", class: "btn-primary" %>
  </div>
<% end %>

<h3>Dishes</h3>
  <% @menu.dishes.each do | dish | %>
    <ul>
    <li> <%= dish.name%> </li>
    <li><%= dish.description%></li>
    <li><%= dish.price%></li>
    </ul>
    <%= link_to " | -> Edit Dish", edit_user_restaurant_menu_dish_path(@user, @restaurant, @menu, dish) %>
    <%= link_to " |  X Delete Dish", dish_path(dish),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  <% end %>
  <p class="btn-primary"><%= link_to "Add Dishes", new_user_restaurant_menu_dish_path(@user, @restaurant, @menu) %></p>

</div>
