<div class="bg-container">


  <div class="container main-card-wide d-flex flex-column align-items-stretch card-content">
  <h1>Create a New Menu</h1>

  <%= form_with model: @menu, url: user_restaurant_menus_path, method: :post do |form| %>
    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
        <ul>
          <% @menu.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
          <%= form.label :menu_name %>
          <%= form.text_field :menu_name %>
        </div>
        <br>
        <div class="field">
          <%= form.label :template_id %>
          <div class="d-flex flex-wrap justify-content-between">
            <% @templates.each do |template| %>
              <div class="mr-4 mb-4">
                <%= radio_button_tag(:template_id, template.id) %>
                <label><%= template.name %></label>
              </div>
            <% end %>
          </div>
        </div>
        <br>
            <div class="actions">
              <%= form.submit 'Save', class: "btn-primary" %>
            </div>
        <br>
      <% end %>


<div class="d-flex justify-content-between">

  <div class="template-container">
    <p>1. Colourful Template</p>
    <div class="modal" id="modal-3" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-media w-900 h-800">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
            <h5 class="modal-title text-white">Colourful Template</h5>
      <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678807223/Colourful_Menu_zyhxuv.png" class="img-fluid" alt="modal-img">
    </div>
  </div>
</div>
<!-- Page wrapper -->
<div class="page-wrapper">
  <!-- Modal toggle inside the content wrapper -->
  <div class="content-wrapper">
        <div data-toggle="modal" data-target="modal-3">
        <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678807223/Colourful_Menu_zyhxuv.png"; style="width: 200px">
      </div>
  </div>
</div>

  </div>


  <div>
    <p>2. Boho Template</p>
    <div class="modal" id="modal-4" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-media w-900 h-800">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
            <h5 class="modal-title text-white">Boho Template</h5>
      <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678807223/Boho_Menu_apkotv.png" class="img-fluid" alt="modal-img">

    </div>
  </div>
</div>
<!-- Page wrapper -->
<div class="page-wrapper">
  <!-- Modal toggle inside the content wrapper -->
  <div class="content-wrapper">
        <div data-toggle="modal" data-target="modal-4">
        <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678807223/Boho_Menu_apkotv.png"; style="width: 200px">
      </div>
  </div>
</div>
  </div>


  <div>
    <p>3. Classic Template </p>
    <div class="modal" id="modal-6" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-media w-900 h-800">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
            <h5 class="modal-title text-white">Classic Template</h5>
      <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678807225/Classic_Menu_w4lvjp.png" class="img-fluid" alt="modal-img">

    </div>
  </div>
</div>
<!-- Page wrapper -->
<div class="page-wrapper">
  <!-- Modal toggle inside the content wrapper -->
  <div class="content-wrapper">
        <div data-toggle="modal" data-target="modal-6">
        <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678807225/Classic_Menu_w4lvjp.png"; style="width: 200px">
      </div>
  </div>
</div>
  </div>


  <div>
    <p>4. Cute Cafe Template </p>
    <div class="modal" id="modal-5" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-media w-900 h-800">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
            <h5 class="modal-title text-white">Cute Cafe Template</h5>
      <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678807231/Cafe_menu_wtb0lz.png" class="img-fluid" alt="modal-img">

    </div>
  </div>
</div>
<!-- Page wrapper -->
<div class="page-wrapper">
  <!-- Modal toggle inside the content wrapper -->
  <div class="content-wrapper">
        <div data-toggle="modal" data-target="modal-5">
        <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678807231/Cafe_menu_wtb0lz.png"; style="width: 200px">
      </div>
  </div>
</div>
  </div>
</div>
</div>
