<div class="container p-20">
  <h1>Create a New Menu</h1>

  <%= form_with model: @menu, url: user_restaurant_menus_path, method: :post do |form| %>
    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
        <ul>
          <% @menu.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :menu_name %>
      <%= form.text_field :menu_name %>
    </div>
<br>
  <div class="field">
    <%= form.label :template_id %>
    <% x = 0 %>
    <% @templates.each do |template| %>
      <%= radio_button_tag(:template_id, template.id) %>
      <%= label_tag(:template_1, "#{x+1}") %>
      <% x = x + 1 %>
    <% end %>
</div>
<br>
      <div class="actions">
        <%= form.submit 'Save', class: "btn-primary" %>
      </div>
<br>
    <div class="d-flex justify-content-around">
      <% i = 0 %>
      <% @templates.each do | template | %>
        <p> <%= i + 1 %>.)
        <% i = i + 1 %>
        <%= template.name %> </p>
      <% end %>
    </div>
  <%end%>
</div>
