
<div class="template-header">
<div class="d-flex justify-content-center align-content-center">
<div class="mx-20">
<% if @menu.restaurant.user = current_user %>
<p class="btn-primary"><%= link_to "Add Dishes", new_user_restaurant_menu_dish_path(@user, @menu, @restaurant) %></p>
<% end %>
</div>
<div class="mx-20">
<% if @menu.restaurant.user = current_user %>
<p class="btn-secondary"><%= link_to 'Edit Menu', edit_user_restaurant_menu_path(@user, @restaurant, @menu)%></p>
<% end %>
</div>
</div>
<%= cl_image_tag "TemplateBanner1_v1s44h", class: "template-banner" %>

<div class="menu-name">
<h2> <%= @menu.menu_name %> </h2>
</div>
</div>

  <div class="d-flex">
    <div class="d-flex px-40 flex-column align-items-start justify-content-start menu-sidebar">
    <% @menu.dishes.each do | dish | %>
    <h1 class="text-white"><%= dish.category %></h1>
      <p class="text-white"><%= dish.name %></p>
        <p class="text-white">Description: <%= dish.description %></p>
      <p class="text-white">Special Diet: <%= dish.dietary_type %></p>
      <p class="text-white">Price: $<%= dish.price %></p>
      <% end %>
    </div>
  <div class="main-section">
    <div class="d-flex section-two justify-content-center">
        <h1 class="text-dark">Section 2</h1>
    </div>
    <div class="d-flex section-three justify-content-center">
        <h1 class="text-dark">Section 3</h1>
    </div>
    <div class="d-flex section-four justify-content-center">
        <h1 class="text-dark">Section 4</h1>
    </div>
    <div class="d-flex section-five justify-content-center">
        <h1 class="text-dark">Section 5</h1>
  </div>
</div>


</div>
