<div class="with-navbar">
<div class="navbar">
<div class="navbar-content container-fluid d-flex justify-content-between align-items-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678181935/Melo_logo_muj2f6.png">

<% if current_user.nil? %>
        <%= link_to 'sign in', new_user_session_path   %>
        <% else %>

<div class="dropdown">
  <button class="dropbtn" style="font-family: Bebas Neue;">Account</button>
  <div class="dropdown-content">

    <a href="<%= user_restaurants_path(user_id = current_user.id) %> ">My Menus</a>
    <a href="<%= new_support_request_path %>">Contact Us</a>
    <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>
</div>
<% end %>
<% end %>

    </div>
  </div>
  </div>
