<div class="with-navbar">
<div class="navbar">
<div class="navbar-content container-fluid d-flex justify-content-between align-items-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= cl_image_tag "Melo_logo_muj2f6" %>

<div class="dropdown">
  <button class="dropbtn">Account</button>
  <div class="dropdown-content">
    <a href="<%= user_restaurants_path(user_id = current_user.id) %> ">My Menus</a>
    <a href="<%= new_support_request_path %>">Contact Us</a>
    <a href="<%= new_user_session_path %>">Sign Out</a>
  </div>
</div>
<% end %>

    </div>
  </div>
  </div>
