
  <div class="template4-bg">
  <div class="template-header template-4">

      <div class="d-flex justify-content-center align-content-center">
        <div class="mx-20 my-20">
          <% if @menu.restaurant.user == current_user %>
          <p class="btn-primary-cards"><%= link_to "Add Dishes", new_user_restaurant_menu_dish_path(@user, @restaurant, @menu) %></p>
          <% end %>

        </div>

        <div class="mx-20 my-20">
          <% if @menu.restaurant.user == current_user %>
          <p class="btn-secondary-cards"><%= link_to 'Menu Dashboard', edit_user_restaurant_menu_path(@user, @restaurant, @menu)%></p>
          <% end %>

        </div>
      </div>

    <div class= "template-banner-4" >
    <div class="menu-name-2">
      <h1> <%= @menu.menu_name %> </h1>
    </div>
  </div>
  <div class="menu-main-card">
  <div class="icon-key-container-mobile align-items-center justify-content-end" style="background-color: lightgray;">
      <p class="icon-key"><img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class="diet-icon" > Vegan <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon"> Vegetarian <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon"> Gluten-Free <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon" %> Lactose-Free</p>
    </div>
<div class="container template-4">
  <div class="d-flex all-content-templates">
      <div class="d-flex px-40 flex-column menu-sidebar-1">

      <h3 class="text-light pt-20 ">Starters</h3>
                <div class="menu-text">

          <% @starters.each do |starter| %>
          <% if starter.menu_id == @menu.id %>
            <div class="d-flex justify-content-between">
              <p class="text-light"><strong class="d-flex align-items-center"><%= starter.name %>
                      <% if starter.dietary_type.include?("Vegan") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678387058/vegan-lt.png" class="diet-icon" >
              <% end %>
                 <% if starter.dietary_type.include?("Vegetarian") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678387057/veg-lt.png" class="diet-icon">
              <% end %>
                   <% if starter.dietary_type.include?("Gluten-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678387058/gf-lt.png" class="diet-icon">
              <% end %>
              <% if starter.dietary_type.include?("Lactose-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678387057/lf-lt.png" class="diet-icon">
              <% end %></p>
              <p class="text-light">$<%= starter.price %></strong></p>
            </div>
                  <p class="text-light mb-20 pb-20"><%= starter.description%></p>
         <% end %>
      <% end %>
  </div>
  </div>

    <div class="main-section">
    <div class="icon-key-container-full align-items-center justify-content-end" style="background-color: lightgray;">
      <p class="icon-key"><img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class="diet-icon" > Vegan <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon"> Vegetarian <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon"> Gluten-Free <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon" %> Lactose-Free</p>
    </div>

       <div class="d-flex flex-column menu-section justify-content-center ">
      <h3 class="text-dark pt-20 ">Breakfast</h3>
                <div class="menu-text w-full">

          <% @breakfasts.each do |breakfast| %>
          <% if breakfast.menu_id == @menu.id %>
                    <div class="d-flex justify-content-between">
              <p class="text-dark"><strong class="d-flex align-items-center"><%= breakfast.name %>
                      <% if breakfast.dietary_type.include?("Vegan") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class="diet-icon" >
              <% end %>
                 <% if breakfast.dietary_type.include?("Vegetarian") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon">
              <% end %>
                   <% if breakfast.dietary_type.include?("Gluten-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon">
              <% end %>
              <% if breakfast.dietary_type.include?("Lactose-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon" %>
              <% end %></p>
              <p>$<%= breakfast.price %></strong></p>
              </div>
                  <p><%= breakfast.description%></p>
         <% end %>
      <% end %>
  </div>
  </div>


      <div class="d-flex flex-column menu-section justify-content-center">
      <h3 class="text-dark pt-20 ">Lunch</h3>
                <div class="menu-text w-full">

          <% @lunches.each do |lunch| %>

          <% if lunch.menu_id == @menu.id %>
            <div class="d-flex justify-content-between">
              <p class="text-dark"><strong class="d-flex align-items-center"><%= lunch.name %>
                  <% if lunch.dietary_type.include?("Vegan") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class="diet-icon" >
              <% end %>

              <% if lunch.dietary_type.include?("Vegetarian") %>
                  <%= cl_image_tag "veg-dk", class: "diet-icon" %>
              <% end %>
                   <% if lunch.dietary_type.include?("Gluten-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon">
              <% end %>
              <% if lunch.dietary_type.include?("Lactose-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon" %>
              <% end %><p>
              <p>$<%= lunch.price %></p></strong>
              </div>
                <p><%= lunch.description%></p>
              <% end %>
      <% end %>
</div>
</div>

      <div class="d-flex flex-column menu-section justify-content-center ">
      <h3 class="text-dark pt-20 ">Dinner</h3>
        <div class="menu-text w-full">
          <% @dinners.each do |dinner| %>
          <% if dinner.menu_id == @menu.id %>
                    <div class="d-flex justify-content-between">
              <p class="text-dark"><strong class="d-flex align-items-center"><%= dinner.name %>
                      <% if dinner.dietary_type.include?("Vegan") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class="diet-icon" >
              <% end %>
                 <% if dinner.dietary_type.include?("Vegetarian") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon">
              <% end %>
                   <% if dinner.dietary_type.include?("Gluten-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon">
              <% end %>
              <% if dinner.dietary_type.include?("Lactose-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon" %>
              <% end %></p>
              <p>$<%= dinner.price %></strong></p>
              </div>
                  <p><%= dinner.description%></p>
         <% end %>
      <% end %>
  </div>
</div>
      <div class="d-flex flex-column menu-section justify-content-center ">
      <h3 class="text-dark pt-20 ">Sides</h3>
                <div class="menu-text w-full">
          <% @sides.each do |side| %>
          <% if side.menu_id == @menu.id %>
                    <div class="d-flex justify-content-between">
              <p class="text-dark"><strong class="d-flex align-items-center"><%= side.name %>
                      <% if side.dietary_type.include?("Vegan") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class="diet-icon" >
              <% end %>
                 <% if side.dietary_type.include?("Vegetarian") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon">
              <% end %>
                   <% if side.dietary_type.include?("Gluten-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon">
              <% end %>
              <% if side.dietary_type.include?("Lactose-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon" %>
              <% end %></p>
              <p>$<%= side.price %></strong></p>
              </div>
                  <p><%= side.description%></p>
         <% end %>
      <% end %>
  </div>
</div>
      <div class="d-flex flex-column menu-section justify-content-center ">
      <h3 class="text-dark pt-20 ">Desserts</h3>
                <div class="menu-text w-full">
          <% @desserts.each do |dessert| %>
          <% if dessert.menu_id == @menu.id %>
                    <div class="d-flex justify-content-between">
              <p class="text-dark"><strong class="d-flex align-items-center"><%= dessert.name %>
                      <% if dessert.dietary_type.include?("Vegan") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/vegan-dk.png" class="diet-icon" >
              <% end %>
                 <% if dessert.dietary_type.include?("Vegetarian") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/veg-dk.png" class="diet-icon">
              <% end %>
                   <% if dessert.dietary_type.include?("Gluten-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/gf-dk.png" class="diet-icon">
              <% end %>
              <% if dessert.dietary_type.include?("Lactose-free") %>
                    <img src="https://res.cloudinary.com/dobohmdlf/image/upload/e_blackwhite/v1678387057/lf-dk.png" class="diet-icon" %>
              <% end %></p>
              <p>$<%= dessert.price %></strong></p>
              </div>
                  <p><%= dessert.description%></p>
         <% end %>
      <% end %>
  </div>

</div>
</div>
</div>
</div>
</div>
