<div class="container pt-20 mt-20">
<h1>My <strong>Dashboard</strong></h1>


<div class="d-flex">

    <% if current_user.nil? %>
        <%= link_to new_user_session_path do  %>
          <div class="d-flex flex-column align-items-center justify-content-center">
          <%= cl_image_tag "brand_images-01_qcsvff", class: "brand-img" %>
          <h4 class="mt-0">View My Restaurants</h4>
          </div>
          <% end %>
      <% else %>
        <%= link_to user_path(user_id = current_user.id) do %>
          <div class="d-flex flex-column align-items-center justify-content-center">
          <%= cl_image_tag "brand_images-01_qcsvff", class: "brand-img" %>
          <h4 class="mt-0">View My Restaurants</h4>
          </div>
        <% end %>
    <% end %>


    <% if current_user.nil? %>
        <%= link_to new_user_session_path do  %>
          <div class="d-flex flex-column align-items-center justify-content-center">
          <%= cl_image_tag "brand_images-02_sw3oqb", class: "brand-img" %>
          <h4 class="mt-0">Create a New Restaurants</h4>
          </div>
           <% end %>
      <% else %>
        <%= link_to user_path(user_id = current_user.id) do %>
          <div class="d-flex flex-column align-items-center justify-content-center">
          <%= cl_image_tag "brand_images-02_sw3oqb", class: "brand-img" %>
          <h4 class="mt-0">Create a New Restaurants</h4>
          </div>
        <% end %>
    <% end %>


    <% if current_user.nil? %>
        <%= link_to new_user_session_path do  %>
          <div class="d-flex flex-column align-items-center justify-content-center">
          <%= cl_image_tag "brand_images-03_hqpedg", class: "brand-img" %>
          <h4 class="mt-0">Contact Us</h4>
          </div>
           <% end %>
      <% else %>
        <%= link_to user_path(user_id = current_user.id) do %>
          <div class="d-flex flex-column align-items-center justify-content-center">
          <%= cl_image_tag "brand_images-03_hqpedg", class: "brand-img" %>
          <h4 class="mt-0">Contact Us</h4>
          </div>
        <% end %>

    <% end %>

</div>
</div>
