<body style="height: 100%">
<div class=bg-container-full>
<div class=main-card-index>

  <img class="corner-img" src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678881148/corner_image_menoet.png">
  <img class="sidebar-full" src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678891956/sidebar_cooking_lgruev.png">

  <div class="container p-20"; style="margin-bottom: 50px;">
  <h1 class="w-full all-content">Edit Dish</h1>

<%= form_for @dish, url: user_restaurant_menu_dish_path(@dish), method: :patch do |f| %>

  <p class="mb-10">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p class="mb-10">
    <%= f.label  :description %>
    <%= f.text_field :description %>
  </p>

  <p class="mb-10">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit "Update", class: "btn-primary-cards" %>
  </p>
<% end %>
</div>
</div>
</div>
