<h1>Add to <%= @menu.menu_name %> </h1>

<%= form_with model: @dish, url: user_restaurant_menu_dishes_path, method: :post do |form| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% @dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class ="w-full">
  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>
  </div>

<div class="d-flex">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
  <%= form.label :vegan %>
  <%= form.check_box("dietary_type", {:multiple => true}, "Vegan", nil) %>
  <%= form.label :vegetarian %>
  <%= form.check_box("dietary_type", {:multiple => true}, "Vegetarian", nil) %>
  <%= form.label :gluten_free %>
  <%= form.check_box("dietary_type", {:multiple => true}, "Gluten-free", nil) %>
  <%= form.label :lactose_free %>
  <%= form.check_box("dietary_type", {:multiple => true}, "Lactose-free", nil) %>

  </div>
  </div>

  <div class="d-flex">
  <div class="field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
</div>


  <div class="actions">
    <%= form.submit 'Create Menu' %>
    <% user_restaurant_menu_dishes_path %>
  </div>
<% end %>
