<div class="container my-20">
<h1>Add to <%= @menu.menu_name %> </h1>


  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
        <% @dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-card d-flex align-items-start justify-content-around px-40">

<%= form_with model: @dish, url: user_restaurant_menu_dishes_path(@user, @restaurant, @menu), html: {class: "form-card"}, method: :post do |f| %>

    <p><%= f.label :category %>
    <%= f.text_field :category %></p>
    <p><%= f.label :dish_name %>
    <%= f.text_field :name %></p>
    <p><%= f.label :description %>
    <%= f.text_field :description %></p>
    <p><%= f.label :dietary_type %>
    <%= f.text_field :dietary_type %></p>
    <p><%= f.label :price %>
    <%= f.number_field :price, step: :any %></p>


  <%= f.submit "Add to Menu" %>
<% end %>

<div class="d-flex flex-column align-items-start justify-content-around">
  <h4>Dishes on <%= @menu.menu_name %> </h4>
    <% @dishes.each do | dish | %>
    <% if dish.menu_id == @menu.id %>
    <p class="my-0"><%= dish.name %>........$<%= dish.price %>0</p>
    <% end %>
    <% end %>
</div>
<%= link_to 'Create Menu', menu_path(@menu), class: "btn btn-danger text-white my-20 align-self-end" %>
</div>
</div>



</div>
