<body style="height: 100%">

<div class="bg-container-full">
  <div class="container main-card-index d-flex flex-column align-items-stretch card-content">
  <img class="corner-img" src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678881148/corner_image_menoet.png">
  <img class="sidebar-full" src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678898291/sidebar_food2_jappzs.png">

    <div class="container p-20"; style="margin-bottom: 50px;">
      <h1 class="w-full all-content">Edit Restaurant</h1>

      <%= form_for @restaurant, url: user_restaurant_path(@restaurant), method: :patch do |f| %>

        <p class="mb-10">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>

        <p class="mb-10">
          <%= f.label  :cuisine %>
          <%= f.text_field :cuisine %>
        </p>

        <p class="mb-10">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </p>

        <p class="mb-10">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number %>
        </p>

        <p class="mb-10">
          <%= f.label :website %>
          <%= f.text_field :website %>
        </p>

        <p class="mb-10">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>
    </div>

  </div>
</div>
</div>
