<h1><%= @restaurant.name %></h1>

<p><strong>Cuisine:</strong> <%= @restaurant.cuisine %></p>

<p><strong>Address:</strong> <%= @restaurant.address %></p>

<p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>

<p><strong>Website:</strong> <%= link_to @restaurant.website, @restaurant.website %></p>

<p><strong>Email:</strong> <%= @restaurant.email %></p>


<%= button_to 'Delete this Restaurant', user_restaurant_path(@restaurant.user, @restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to "Edit Restaurant", edit_user_restaurant_path(@restaurant) %>
