<h1><%= @restaurant.name %></h1>

<p><strong>Cuisine:</strong> <%= @restaurant.cuisine %></p>

<p><strong>Address:</strong> <%= @restaurant.address %></p>

<p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>

<p><strong>Website:</strong> <%= link_to @restaurant.website, @restaurant.website %></p>

<p><strong>Email:</strong> <%= @restaurant.email %></p>


<% if policy(@restaurant).edit? %>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= button_to "Destroy this restaurant", @restaurant, method: :delete if policy(@restaurant).destroy? %>
<% end %>
