<div class="container">
<div class="d-flex justify-content-around">
<div class="d-flex flex-column">
<h1><%= @restaurant.name %></h1>

<p><strong>Cuisine:</strong> <%= @restaurant.cuisine %></p>

<p><strong>Address:</strong> <%= @restaurant.address %></p>

<p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>

<p><strong>Website:</strong> <%= link_to @restaurant.website, @restaurant.website %></p>

<p><strong>Email:</strong> <%= @restaurant.email %></p>


<% if policy(@restaurant).edit? %>

  <p class ="btn-secondary" ><%= link_to "Edit this restaurant", edit_user_restaurant_path(@restaurant) %><p>
 <%= button_to "Delete this Restaurant", {:controller => :restaurants,
      :action => 'destroy' }, :method => :delete %>
<% end %>
</div>
<div class="d-flex flex-column">
<h2 class="mt-30 mb-0">Menus</h2>
   <% @restaurant.menus.each do |menu| %>
     <h4> <%= link_to menu.menu_name, edit_user_restaurant_menu_path(@user, @restaurant, menu)%></h4>
    <% end %>
 <p class ="btn-primary" > <%= link_to "Add a Menu", new_user_restaurant_menu_path(current_user, @restaurant) %></p>


<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
</div>
</div>
</div>
<%# <%= link_to "New restaurant", new_restaurant_path if policy(Restaurant).new? %>
