<!DOCTYPE html>
<html>
  <head>
    <title>MeloMenu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="app/assets/stylesheets/halfmoon-variables.css" rel="stylesheet" />
    <link href="app/assets/stylesheets/halfmoon_css/halfmoon.css" rel="stylesheet" />
    <%= favicon_link_tag "melo_favicon.png", rel: "icon", type: "image/png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <% unless current_page?(root_path) %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
  <% end %>

  <%= yield %>
  <% unless current_page?(root_path) %>
    <%= render "shared/footer" %>
  <% end %>
  <script type="text/javascript" src="https://cdn.tutorialjinni.com/Halfmoon/1.1.1/js/halfmoon.js"></script>

  </body>
</html>
